*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    transition:all .3s;
    list-style:none;
    user-select:none;
  }
  
  
  body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    overflow:hidden;
    font-family: 'Roboto', sans-serif;
    background:#232323;
  }
  
  
  .note{
    position:absolute;
    top:5px;
    left:5px;
    color:#FF4F40;
    text-transform:uppercase;
    font-size:3vmin;
  }
  
  
  header{
    background:#000;
    color:#fff;
    width:170vmin;
    height:88vmin;
    overflow:hidden;
    border-radius:5px;
    padding:8vmin 10vmin;
    border-bottom:1.2vmin solid #FF4F40;
    position:relative;
    box-shadow:0 0 50px #000;
  }
  
  
  header:before{
    content:"";
    position:absolute;
    top:-120px;
    right:-120px;
    width:70vmin;
    height:70vmin;
    border-radius:50%;
    border:50px solid #FF8F85;
  }
  
  
  
  
  
  nav{
    display:flex;
    justify-content:space-between;
    position:relative;
    z-index:2;
    padding:0px 10px;
  }
  
  
  nav .logo{
    color:#FF4F40;
    font-weight:900;
    filter:drop-shadow(0 0 5px #FF4F40);
    font-size:3vmin;
  }
  
  nav ul{
    display:flex;
    gap:4vmin;
  }
  
  
  nav ul li{
    position:relative;
    cursor:pointer;
    font-weight:700;
  }
  
  nav ul .tab:before{
    content:"";
    width:0%;
    height:2px;
    background:#FF4F40;
    position:absolute;
    bottom:-2px;
    left:0;
    box-shadow:0 0 5px #FF4F40;
    transition:all .5s;
    border-radius:50px;
  }
  
  
  nav ul .tab:hover:before{
    width:100%;
  }
  
  
  nav ul .card:before{
    content:"";
    position:absolute;
    right:-5px;
    top:-5px;
    width:10px;
    height:10px;
    background:#FF4F40;
    border-radius:50%;
  }
  
  nav ul .joinBtn{
    background:#FF8F85;
    color:#8A251D;
    padding:2px 12px;
    border-radius:5px;
  }
  
  nav .fa-bars,
  nav .fa-remove{
    display:none;
  }
  
  
  
  
  .header-content{
    display:flex;
    margin-top:6vmin;
    position:relative;
    height:66vmin;
    padding:0px 10px;
  }
  
  
  .header-content .content{
    position:relative;
    z-index:2;
  }
  
  
  .header-content .content h1{
    margin-top:3vmin;
    font-size:6.5vmin;
  }
  
  .header-content .content h1 span{
    color:#FF4F40;
  }
  
  .header-content .content p{
    margin-top:2.5vmin;
    font-size:2vmin;
    width:45vmin;
    word-break: break-all;
  }
  
  
  .header-content img{
    position:absolute;
    bottom:0;
    right:-25vmin;
    width:100%;
    height:100%;
    z-index:1;
    object-fit:contain;
  }
  
  
  .header-content .content .search{
    background:#fff;
    margin-top:6vmin;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:#888;
    width:auto;
    box-shadow:0 0 10px 0px #FF4F40;
    border-radius:5px;
    overflow:hidden;
  }
  
  
  .header-content .content .search input,.header-content .content .search button{
    border:0;
    outline:0;
    padding:10px 15px;
  }
  
  .header-content .content .search .fa-search{
    margin-left:15px;
    margin-right:7px;
  }
  
  .header-content .content .search input{
    caret-color:#FF4F40;
  }
  
  .header-content .content .search button{
    width:100px;
    text-transform:capitalize;
    color:#fff;
    background:#FF4F40;
    cursor:pointer;
  }
  
  
  
  .circle{
    width:0px;
    height:0px;
    border:5px solid #FF8F85;
    border-radius:50%;
    position:absolute;
    top:0;
    animation:zoom 3.5s linear infinite;
  }
  
  
  @keyframes zoom{
    
    0%,100%{
    width:0px;
    height:0px;
    border:0px solid #FF8F85;
    }
    
    50%{
    width:2vmin;
    height:2vmin;
    border:.6vmin solid #FF8F85;
    }
  }
  
  
  
  @media (min-width:0px) and (max-width: 1030px){
    
    header{
    width:90vmin;
    height:75vmin;
    padding:8vmin 5vmin;
    }
    
    
    header:before{
    content:"";
    position:absolute;
    top:-13vmin;
    right:-13vmin;
    width:45vmin;
    height:45vmin;
    border-radius:50%;
    border:6vmin solid #FF8F85;
    }
    
    nav{
      z-index:3;
    }
    
    nav ul{
      display:block;
      background:rgba(0,0,0,.8);
      position:absolute;
      top:4.5vmin;
      right:0;
      text-align:center;
      padding:0 10px;
      border-radius:5px;
      height:0%;
      overflow:hidden;
    }
    
    nav ul li{
      margin:1vmin 0;
      padding:1vmin 2vmin;
      font-size:3vmin;
    }
    
    nav .fa-bars,
    nav .fa-remove{
      display:block;
      font-size:3.5vmin;
      cursor:pointer;
    }
    
    nav .fa-bars:hover,
    nav .fa-remove:hover,
    nav .fa-bars:active,
    nav .fa-remove:active{
      color:#FF4F40;
    }
    
    nav ul .card:before{
    left:56%;
    top:5px;
    }
    
    
    .header-content{
    margin-top:5vmin;
    padding:0px 1vmin;
      height:53vmin;
    }
    
    
    .header-content img{
    right:-10vmin;
    bottom:5vmin;
    object-fit:contain;
    }
  
  
  .header-content .content .search input,.header-content .content .search button{
    padding:1.6vmin 2vmin;
  }
    
    .header-content .content .search input{
      width:32.5vmin;
    }
  
  .header-content .content .search .fa-search{
    margin-left:2vmin;
    margin-right:1vmin;
  }
  
  
  .header-content .content .search button{
    width:18vmin;
  }
  
    
    
  }